/* Overall body and content */
body{
    font-family:'Oswald',
    sans-serif;overflow: hidden;
}

.content {
    overflow: none;
    max-width: 790px;
    padding: 0px 0;
    height: 500px;
    position: relative;
    margin: 20px auto;
    background: #52A0FD;
    background: -moz-linear-gradient(right, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: -webkit-linear-gradient(right, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: linear-gradient(to left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*  Events display */
.events-container {
    overflow-y: scroll;
    height: 74.5%;
    margin: 0px auto;
    background:#5bb858;
    font: 13px Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;display: none;
    right:-400px;margin-top:50px;
    font-family:'Oswald',
    sans-serif;
}

.events-container:after {
    clear: both;
}

.event-card {
    padding: 20px 0;
    width: 350px;
    margin: 20px auto;
    display: block;
    background: #fff;
    border-left: 10px solid #52A0FD;
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.event-count,
.event-name,
.event-cancelled {
    display: inline;
    padding: 0 10px;
    font-size: 1rem;
}

.event-count {
    color: #52A0FD;
    text-align: right;
}

.event-name {
    padding-right: 0;
    text-align: left;
}

.event-cancelled {
    color:#5bb858;
    text-align: right;
}

/*  Calendar wrapper */
.calendar-container {
margin-top:-200px;
 width:80%;vertical-align: top;
    margin: 0px;


    font: 16px Helvetica, Arial, san-serif;
    font-family:'Oswald',
    sans-serif;
    display: inline-block;
    border-radius: 10px;
}

.calendar-container:after {
    clear: both;
}
.events-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.events-container::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(255, 255, 255);
}

.events-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: rgb(0, 0, 0);
}
.calendar {
    margin-top: -100px;
    display: table;
    width:100%;border-radius: 10px;
    font-family:'Oswald',
    sans-serif;vertical-align: top;
    background:#030303cb;
}

/* Calendar Header */
.year-header {
    background: black;
   font-family:'Oswald',
   sans-serif;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 40px;
    text-align: center;
    position: relative;
    width:100%;z-index: 0;

    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.year-header span {
    display: inline-block;
    font-size: 20px;
    margin:5px;
    line-height: 30px;
}

.left-button,
.right-button {
    cursor: pointer;
    width:7%;border-radius:5px;
    text-align: center;font-size: 12px;
    position: absolute;
    background:black;
}

.left-button {
    left: 0;

}

.right-button {
    right: 0;
    top: 0;


}

.left-button:hover {
     background: white;
     color:black;
}

.right-button:hover {
    background: white;
    color:black;
}

/* Buttons */
.button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.65rem 1.9rem;
    transition: .2s ease all;
    color: white;
    border: none;
    box-shadow: -1px 10px 20px #9BC6FD;
    background: #52A0FD;
    background: -moz-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: -webkit-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    background: linear-gradient(to right, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
}

#cancel-button {
    box-shadow: -1px 10px 20px #FF7DAE;
    background: #FF1744;
    background: -moz-linear-gradient(left, #FF1744 0%, #FF5D95 80%, #FF5D95 100%);
    background: -webkit-linear-gradient(left, #FF1744 0%, #FF5D95 80%, #FF5D95 100%);
    background: linear-gradient(to right, #FF1744 0%, #FF5D95 80%, #FF5D95 100%);
}

#add-button {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#add-button:hover,
#ok-button:hover,
#cancel-button:hover {
    transform: scale(1.03);
}

#add-button:active,
#ok-button:active,
#cancel-button:active {
    transform: translateY(3px) scale(.97);
}

/* Days/months tables */
.days-table,
.dates-table,
.months-table {
    width:100%;
    border-collapse: separate;
    text-align: center;
    height:60%;
    font-family:'Oswald',
    sans-serif;
}

.day {
    height: 26px;
    width: 26px;
    padding: 10px;
    line-height: 26px;
    border: 1px solid white;
    border-radius:3px;
    text-transform: uppercase;
    font-size: 90%;

    font-weight: bold;
    color: #fafafa;
}

.month {
    cursor: default;
    height: 26px;
    width: 26px;
    padding: 2px;
    padding-top: 10px;
    line-height: 26px;
    border: 1px solid white;
    border-radius:3px;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;font-weight: bold;
    transition: all 250ms;
}

.active-month {
    font-weight: bold;
    font-size: 14px;
    color: #5bb858;
    text-shadow: 0 1px 4px #5bb858;
}

.month:hover {
    color: #5bb858;
    text-shadow: 0 1px 4px #5bb858;
}

/*  Dates table */
.table-date {
    cursor: default;
    color: #ffffff;
    height: 36px;
    width: 36px;
    font-size: 21px;
    padding:11px;
    line-height: 26px;
    text-align: center;
    border-radius: 50px;

font-weight: bold;
    transition: all 250ms;
}

.table-date:not(.nil):hover {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 3px 7px rgb(255, 255, 255);
}

.event-date {
    border-color: #52A0FD;
    box-shadow: 0 2px 8px RGBA(130, 180, 255, .9);
}

.active-date {
    background: #5bb858;
    box-shadow: 0 2px 8px #5bb858;
    color: #fff;
}

.event-date.active-date {
    background: #52A0FD;
    box-shadow: 0 2px 8px RGBA(130, 180, 255, .9);
}

/* input dialog */
.dialog {
    z-index: 5;
    background: #fff;
    position: absolute;
    width: 415px;
    height: 500px;
    left: 387px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    border-left: 1px #aaa solid;
}

.dialog-header {
    margin: 20px;
    color: #333;
    text-align: center;
}

.form-container {
    margin-top: 25%;
}

.form-label {
    color: #333;
}

.input {
    border: none;
    background: none;
    border-bottom: 1px #aaa solid;
    display: block;
    margin-bottom: 50px;
    width: 200px;
    height: 20px;
    text-align: center;
    transition: border-color 250ms;
}

.input:focus {
    outline: none;
    border-color: #00C9FB;
}

.error-input {
    border-color:#5bb858;
}

/* Tablets and smaller */
@media only screen and (max-width: 1000px) and (min-width:0px) {
    .content {
        overflow: visible;
        position: relative;
        max-width: 100%;
        width: 370px;
        height: 100%;
        background: #52A0FD;
        background: -moz-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
        background: -webkit-linear-gradient(left, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
        background: linear-gradient(to right, #52A0FD 0%, #00C9FB 80%, #00C9FB 100%);
    }

    .dialog {
        width: 370px;
        height: 450px;
        border-radius: 3px;
        top: 0;
        left: 0;
    }

    .events-container {
        float: none;
        overflow: visible;

        margin: 10;
        padding: 0;
        display: block;
       top:30px;
        border-radius: 3px;
    }

    .calendar-container {
        float: none;
        padding: 0;

        margin-right: 0;

        border-radius: 3px;
        box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -webkit-box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

/* Small phone screens */
@media only screen and (max-width: 1000px) and (min-width:0px) {

    .content,
     {
        width: 320px;
    }
     .events-container {
         width:100%;
     }
    .calendar-container {
        width:100%;
    }
.year-header {
    width: 350px;
}
    .dialog {
        width: 320px;
    }

    .months-table {
        display: block;
        margin: 0 auto;
        width:100%;
    }

    .event-card {
        width: 300px;
    }

    .day {
        padding: 0 7px;
    }



    .table-date {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .event-name,
    .event-count,
    .event-cancelled {
        font-size: .8rem;
    }

    .add-button {
        bottom: 10px;
        right: 10px;
        padding: 0.5rem 1.5rem;
    }
}
